DATABASE_URL="postgresql://postgres:postgres@localhost:5432/calorie_tracker?schema=public"

JWT_ACCESS_SECRET="replace-with-a-secret-at-least-32-characters-long"
JWT_ACCESS_EXPIRES_IN="30m"

FRONTEND_URL="http://localhost:3000"

NODE_ENV="development"
PORT=5000